.projectPage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectBox {
  padding: 20px;
  margin-top: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 550px;
  width: 350px;
  background-color: white;
}
.projectInput {
  height: 50px;
  border-radius: 5px;
  border: 1px solid #bbe3ff;
  padding: 5px;
  background-color: #e3f2fd;
}
.projectInput:focus {
  outline: none;
}
.projectButton {
  height: 55px;
  width: 100px;
  align-self: center;
  border-radius: 5px;
  background-color: #3eaefd;
  font-weight: 600;
  color: white;
  border: none;
}
.projectTitle {
  align-self: center;
  background-color: white;
  color: rgb(95, 94, 94);
}
